node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.DS_Store
dist
build
.vscode
.idea
docs
scripts
packages/*/dist
packages/*/build
packages/client/dist
packages/server/dist
output/node_modules
output/server/public/downloads
output/server/public/log
